* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-Screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    gap: 10px;
    color: #fff;
}

body{
    overflow-x: hidden;
}

.login-form>input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.view-cust{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #fbfcf8;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.table{
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-inline: auto;
}

td{
    border: 1px solid black;
    padding: 5px;
}

th{
    text-align: start;
    border: 1px solid black;
    padding: 8px;
}

.btn{
    padding: 9px 15px;
    border: none;
    background-color: blueviolet;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid blueviolet;
}

.del-btn{
    height: 25px;
    width: 25px;
    background-color: red;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
h1{
    text-align: center;
}

.edit-btn{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addCustomer-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    gap: 10px;
    color: black;
    border: 1px solid black;
    margin-inline: auto;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px 20px;
    display: none;
}
.addCustomer-form>div{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.addCustomer-form>div>div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addCustomer-form>div>div>input{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

.addCustomer-form>button{
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(101, 255, 204);
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.editCustomer-form{
    display: none;
}

.btn-conntainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 25px;
    overflow: hidden;
}